html  * {
    font-size: 30px;
    font-family: Courier New, monospace;
}

p {
    color: rgb(228, 189, 17);
    text-align: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
    margin: 30px;
}

#button {
    background-color: rgba(0,0,0,0);
    border: 0px;
}

#quote {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-width: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 15px;
    background-color: rgb(2, 0, 7);
}

#buttons {
    position: absolute;
    display: flex;
    justify-content: space-around;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#buttons button{
    border-width: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 15px;
    background-color: rgb(2, 0, 7);
    color: rgb(228, 189, 17);
    margin: 0;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: rgb(4, 0, 15)
}

#myCanvas {
    position: absolute;
    display: block;
    z-index: -1;
    padding: 0;
}
